# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Publish
publish/

# NuGet
packages/

# OS
.DS_Store
Thumbs.db

#appsetting
AI-Sales Agent/appsettings.json
AI-Sales Agent/appsettings.Development.json